#testimonial_area {
	padding: 1% 0;
	margin-bottom: -5%;
	margin-top: -1%;
}
.box-area {
    padding: 30px;
    position: relative;
    display: block;
    border-radius: 8%;
    background: #202020;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px 0;
    min-height: 400px; /* Ajusta según sea necesario */
}
.box-area h3 {
	font-size: 26px;
	font-weight: 800;
	color: #da9f5b;
	margin-top: 30px;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.box-area span {
	color: #b8b4b4;
	display: block;
	font-size: 14px;
	margin: 0 0 10px;
	font-weight: 500;
}
.box-area .content {
	color: #fff;
}
.box-area .img-area {
	width: 90px;
	height: 90px;
	position: absolute;
	top: -40px;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	z-index: 1;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.box-area .img-area img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.socials {
	margin-top: 30px;
}
.socials i {
	margin: 0 10px;
	color: #da9f5b;
	font-size: 18px;
}
#testimonial_area .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
#testimonial_area .owl-prev, #testimonial_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #da9f5b;
	border-radius: 50%;
	text-align: center;
	background: #151515;
	position: absolute;
}
#testimonial_area .owl-prev {
	left: -60px;
	top: -30px;
}
#testimonial_area .owl-next {
	right: -60px;
	top: -30px;
}
@media only screen and (max-width: 991px) {
	.owl-nav {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.box-area {
		text-align: center;
	}
	.owl-nav {
		display: none;
	}
}